body {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

img {
    width: 100px;
    height: 100px;
}

.top-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 75px;
}

.cat-logo {
    width: 75px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.middle-container {
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.text-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.cat-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    max-width: 50%;
}

.big-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.middle-text {
    font-size: 18px;
    color: #E5E7EB;
}

.second-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex: 1;
    gap: 20px;
}

.cat-row {
    width: 200px;
    height: 200px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.third-container {
    background-color: #E5E7EB;
    display: flex;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 100px;
}

.testimonial {
    text-align: center;
}

.fourth-container {
    display: flex;
    border: 10px solid black;
    background-color: #3882F6;
    margin: 100px;
    padding: 50px;
}

.action-box {
    display: flex;
}

